<div class="container">
  <form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />

    <button type="submit" class="btn-search">Искать</button>
  </form>

  <ul class="gallery">
    <!-- Список <li> с карточками изображений -->
  </ul>
  <button type="button" class="btn-load" id="box1"> загрузить еще</button>
  <div class="my-element-selector"></div>
<!-- <button type="button" class="light" id="light"> show</button> -->
  <!-- <button type="button" class="btn">Нажми чтобы найти меня</button> -->
<!-- <div class="big"></div> -->

<!-- <div id="box" class="box">Скрытый элемент</div> -->

</div>